<footer id="footer" class="footer-inverse" role="contentinfo">
    <div id="footer-bottom" class="footer-inverse" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-4">
                    <ul class="footer-menu">
                        {% include mainmenu.html %}
                    </ul>
                </div><!-- End .col-md-6 -->
                <div class="col-md-4 col-md-pull-8">
                    <p class="copyright">© Uniflor {{ site.time | date: '%Y' }}. All rights reserved.</p>
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div>
    <a href="#top" id="scroll-top" title="Back to Top" class="fixed"><i class="fa fa-angle-up"></i></a>
</footer>
