{% assign translation = site.data.translations[page.lang] %}
{% assign lang = page.lang %}
<div class="container">
  <!--
    <ul id="portfolio-filter" class="text-left">
        <li class="active"><a href="#" data-filter="*">{{ translation.all }}</a></li>
        <li><a href="#" data-filter=".productos">{{ translation.product }}s</a></li>
        <li><a href="#" data-filter=".vivero">{{ translation.nursery }}</a></li>
        <li><a href="#" data-filter=".varios">{{ translation.other }}</a></li>
    </ul>
  -->

    <div id="portfolio-item-container" class="max-col-4 popup-gallery">
    	{% for item in site.data.gallery %}
        <div class="portfolio-item portfolio-meta-slideup push {{ item.cat }}">
            <figure>
                <a href="/images/gallery/{{ item.file }}" class="zoom-item" title="{{ item.lang }}">
                	<img src="/images/gallery/{{ item.file }}" alt="portfolio item name" class="img-responsive">
                </a>
            </figure>
            <!--
            <div class="portfolio-meta dark">
                <h2 class="portfolio-title"><a href="single-portfolio.html">{% if page.lang == 'es'%}{{ item.es }}{% else %}{{ item.en }}{% endif %}</a></h2>
                <p>{{ translation[item.cat] }}</p>
                <div class="portfolio-tags"><a href="#">{{ item.grupo | capitalize}}</a></div>
            </div>
            -->
        </div>
      {% endfor %}
    </div>
</div>
