{% assign tours = site.data.tours %}
<table class="contact-list">
	<tr>
		<td colspan="2">
			<h3>
				{% if page.lang == 'en' %}
				Guided Tours
				{% else %}
				Tours con guía
				{% endif %}
			</h3>
		<td>
	</tr>
	{% for price in tours.guided.prices %}
		<tr>
			<td><strong>{{ price.[page.lang] }} </strong></td>
			<td class="text-right" style="width:25%">&#162;{{ price.price }}</td>
		</tr>
	{% endfor %}
	<tr>
		<td colspan="2">
			<div class="mb20"></div>
			<h3>
				{% if page.lang == 'en' %}
				Unguided Tours
				{% else %}
				Tours sin guía
				{% endif %}
			</h3>
		<td>
	</tr>
	{% for price in tours.unguided.prices %}
		<tr>
			<td><strong>{{ price.[page.lang] }} </strong></td>
			<td class="text-right" style="width:25%">&#162;{{ price.price }}</td>
		</tr>
	{% endfor %}
</table>
{% if page.lang == 'en' %}
<p>You are welcome to come for purchase of fresh product and plants from the nursery without an entrance fee. However, an entrance fee must be paid to have access to the garden and picnic area.</p>
{% else %}
<p>Eres bienvenido a pasar a la compra de plantas y productos frescos del vivero sin tener que pagar entrada, sin embargo, debes pagar una pequeña cuota para tener acceso a los jardines y al área de picnic.</p>
{% endif %}