{% assign translation = site.data.translations[page.lang] %}
<div class="container-fluid no-padding vertical-service-block no-border">

    <div class="row">
        <div class="col-sm-6 no-padding-right">
            <div class="vertical-service-image fullscreen bg-image text-center" data-bgattach="/images/tours/tours4.jpg" style="background-image: url(/images/tours/tours4.jpg);">
                <div class="vcenter-container">
                    <div class="vcenter">
                        <!--<h2 class="title-underblock white text-center text-white text-uppercase mb30">
                            {% if page.lang == 'en' %}
                                Landscape Consulting
                            {% else %}
                                Landscape Consulting
                            {% endif %}
                        </h2>-->
                    </div><!-- End .vcenter -->
                </div><!-- End .vcenter-container -->
            </div><!-- End .full-height -->
        </div><!-- End .col-sm-6 -->

        <div class="col-sm-6">
            <div class="vertical-service-content fullscreen">
                <div class="vcenter-container">
                    <div class="vcenter">
                        <div class="service vertical">
                            <div class="service-content">
                                <h3 class="service-title  title-underblock dark  text-uppercase">Tours</h3>

                                {% if page.lang == 'en' %}
                                  <p>A guided tour is a learning experience with stories and anecdotes about the herbs and flowers. Enjoy the incredible view of the San Jose valley with the birds and butterflies that reside in this beautiful refuge.</p>

                                  <p>Or one can go at their own pace reading the signs, relaxing on the benches placed throughout the gardens, enjoying your own private tour in the relaxed manner of the Costa Rican lifestyle. Bring a picnic to enjoy the area provided.</p>

                                {% else %}

                                  <p>Un tour guiado es una experiencia de aprendizaje con historias y anécdotas sobre las hierbas y las flores. Disfruta la increíble vista del valle de San José con los pájaros y mariposas que residen en este hermoso refugio.</p>

                                  <p>O, también puedes avanzar a tu propio paso leyendo las señales, relajándote en las bancas colocadas  a lo largo de los jardines, disfrutando de tu propio tour privado en la relajada forma del estilo de vida costarricense. Trae un picnic para disfrutar en el área asignada.</p>

                                {% endif %}

                                <ul class="tour-features">
                                    {% for feature in site.data.tours.features %}
                                      <li class="service-title title-underblock custom text-uppercase text-center">{{ feature[page.lang] }}</li>
                                    {% endfor %}
                                </ul><!-- End Features -->

                            </div><!-- End .service-content -->
                        </div><!-- End .service -->
                    </div><!-- End .vcenter-->
                </div><!-- End .vcenter-container-->
            </div><!-- End .vertical-center-content -->
        </div><!-- end .col-sm-6 -->
    </div>

    <!-- Div 1 -->
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 no-padding-left">
            <div class="vertical-service-image fullscreen bg-image text-center" data-bgattach="/images/tours/tours1.jpg" style="background-image: url(/images/tours/tours1.jpg);">
                <div class="vcenter-container">
                    <div class="vcenter">
                        <h2 class="title-underblock white text-center text-white text-uppercase mb30">
                            {% if page.lang == 'en' %}
                                Tour of the Garden
                            {% else %}
                                Tour del Jardín
                            {% endif %}
                        </h2>
                    </div><!-- End .vcenter -->
                </div><!-- End .vcenter-container -->
            </div><!-- End .full-height -->
        </div><!-- End .col-sm-6 -->
        <div class="col-sm-6 col-sm-pull-6">
            <div class="vertical-service-content text-right fullscreen">
                <div class="vcenter-container">
                    <div class="vcenter">
                        <div class="service vertical">
                            <div class="service-content">
                                <img src="/images/icons/shoe.png" alt="Tour"/>
                                <h3 class="service-title  text-right title-underblock dark text-uppercase">
                                    {% if page.lang == 'en' %}
                                        What to bring
                                    {% else %}
                                        Qué Traer
                                    {% endif %}
                                </h3>
                                {% if page.lang == 'en' %}
                                    <p>Bring comfortable walking shoes, the guided tour lasts about 2 hours.</p>
                                    <p>You may need an umbrella or rain gear during certain times of the year.</p>
                                {% else %}
                                    <p>Trae zapatos cómodos para caminar, el tour guiado dura alrededor de 2 horas.</br>Podrías necesitar un paraguas o un impermeable durante ciertas épocas del año.</p>
                                {% endif %}
                            </div><!-- End .service-content -->
                        </div><!-- End .service -->
                    </div><!-- End .vcenter-->
                </div><!-- End .vcenter-container-->
            </div><!-- End .vertical-center-content -->
        </div><!-- end .col-sm-6 -->
    </div><!-- End Div 1 -->



    <div class="row">
        <div class="col-sm-6 no-padding-right">
            <div class="vertical-service-image fullscreen bg-image text-center" data-bgattach="/images/tours/tours5.jpg" style="background-image: url(/images/tours/tours5.jpg);">
                <div class="vcenter-container">
                    <div class="vcenter">
                        <!--<h2 class="title-underblock white text-center text-white text-uppercase mb30">
                            {% if page.lang == 'en' %}
                                Landscape Consulting
                            {% else %}
                                Landscape Consulting
                            {% endif %}
                        </h2>-->
                    </div><!-- End .vcenter -->
                </div><!-- End .vcenter-container -->
            </div><!-- End .full-height -->
        </div><!-- End .col-sm-6 -->

        <div class="col-sm-6">
            <div class="vertical-service-content fullscreen">
                <div class="vcenter-container">
                    <div class="vcenter icons">
                        <div class="row text-center">
                          {% for image in site.data.tours.icons[page.lang] %}
                            <div class="icon">
                              <img src="/images/icons/tours/{{ page.lang }}/{{ image }}" class="img-responsive" />
                            </div>
                          {% endfor %}
                        </div><!-- End .service -->
                    </div><!-- End .vcenter-->
                </div><!-- End .vcenter-container-->
            </div><!-- End .vertical-center-content -->
        </div><!-- end .col-sm-6 -->
    </div>

    <!-- Div 1 -->
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 no-padding-left">
            <div class="vertical-service-image fullscreen bg-image text-center" data-bgattach="/images/tours/tours6.jpg" style="background-image: url(/images/tours/tours6.jpg);">
                <div class="vcenter-container">
                    <div class="vcenter">

                    </div><!-- End .vcenter -->
                </div><!-- End .vcenter-container -->
            </div><!-- End .full-height -->
        </div><!-- End .col-sm-6 -->
        <div class="col-sm-6 col-sm-pull-6">
            <div class="vertical-service-content text-right fullscreen">
                <div class="vcenter-container">
                    <div class="vcenter">
                        <div class="service vertical">
                            <div class="service-content">
                                <h2>{{ translation.prices_colones }}</h2>
                                <div class="prices-tours">
                                  {% include price_list.html %}
                                </div>
                            </div><!-- End .service-content -->
                        </div><!-- End .service -->
                    </div><!-- End .vcenter-->
                </div><!-- End .vcenter-container-->
            </div><!-- End .vertical-center-content -->
        </div><!-- end .col-sm-6 -->
    </div><!-- End Div 1 -->

</div>
